# Zendesk
ZENDESK_SUBDOMAIN='aerosus'
ZENDESK_EMAIL=''
ZENDESK_API_TOKEN=''

# Teams
Teams_ClientID=''
Teams_SECRETKey=''
AZURE_TENANT_ID=''
Teams_Teams_ID=''
Teams_Channels_ID=''
Teams_Drive_ID=''
Teams_Folder_ID=''
Teams_ABDtoDHL_Folder_ID=''
ABDtoDHL=''

# DHL zip+mail sadece bu tarihten itibaren (eski ticketlar alinmaz)
DHL_SINCE='2026-09-29'

SYNC_API_KEY=''

mailtobesent=''
AGENT_EMAIL=''
AGENT_NAME=''
AGENT_ID=''
recipientemail=''
ticket_tag=''
GroupID=''
Groupname=''

CUSTOM_TICKET_TYPE_FIELD_ID=''
CUSTOM_TICKET_TYPE_FIELD_VALUE=''
